.simple-button {
    height: 50px;
    font-size: 30px;
    background-color: white;
    border: white;
}

.simple-button:hover {
    background-image: linear-gradient(to right top, #e04693, #fd5477, #ff705a, #ff923e, #f8b529) !important;
}