<template>
  <button class="simple-button" @click="onClick"
    :style="{width: big ? '140px' : '70px', background: color, color: fontColor, 'border-radius': borderRadius}">
    {{title}}
  </button>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Button',
  props: {
    title: {
      type: String,
      required: true,
    },
    big: {
      type: Boolean,
      required: false,
      default: false,
    },
    color: {
      type: String,
      required: false,
      default: 'white',
    },
    fontColor: {
      type: String,
      required: false,
      default: 'blacl',
    },
    borderRadius: {
      type: String,
      required: false,
      default: '0 0 0 0',
    },
  },
  methods: {
    onClick(): void {
      this.$emit('click', this.title);
    },
  },
});
</script>

<style src='./Button.scss' lang='scss' ></style>
