<template>
    <div class="frame">
      <Display />
      <Keyboard />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Display } from '../Display';
import { Keyboard } from '../Keyboard';

export default Vue.extend({
  name: 'Frame',
  components: { Keyboard, Display },
});
</script>

<style src='./Frame.scss' lang='scss'></style>
