<template>
  <div class="home">
    <Frame />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Frame } from '../components/Frame';

export default Vue.extend({
  name: 'Main',
  components: { Frame },
});
</script>
