<template>
  <div class="keyboard">
    <Button title="AC" @click="onClear" :big="true" fontColor="orange"/>
    <Button title="%" disabled/>
    <Button title="/" @click="onSetAction" color="lightgray"/>
    <Button title="7" @click="onSetValue"/>
    <Button title="8" @click="onSetValue"/>
    <Button title="9" @click="onSetValue"/>
    <Button title="x" @click="onSetAction" color="lightgray"/>
    <Button title="4" @click="onSetValue"/>
    <Button title="5" @click="onSetValue"/>
    <Button title="6" @click="onSetValue"/>
    <Button title="-" @click="onSetAction" color="lightgray"/>
    <Button title="1" @click="onSetValue"/>
    <Button title="2" @click="onSetValue"/>
    <Button title="3" @click="onSetValue"/>
    <Button title="+" @click="onSetAction" color="lightgray"/>
    <Button title="0" @click="onSetValue" :big="true" borderRadius="0 0 0 4px"/>
    <Button title="." @click="onSetValue"/>
    <Button title="=" @click="onCalculate" color="lightgray" borderRadius="0 0 4px 0"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions, mapGetters } from 'vuex';
import { Button } from '../Button';

export default Vue.extend({
  name: 'Keyboard',
  components: { Button },
  data: () => ({
    value: '',
  }),
  computed: {
    ...mapGetters('calc', ['getCalcActions']),
  },
  methods: {
    ...mapActions('calc', ['setEquation', 'setAction', 'updateAction', 'calculate', 'clear']),
    onSetValue(data: string): void {
      this.value = this.value === '' ? data : this.value + data;
      this.setEquation(data);
    },
    onSetAction(data: string): void {
      this.setEquation(data);
      if (this.value === '') {
        this.updateAction(data);
        return;
      }
      const element = { value: Number(this.value), action: data };
      this.value = '';
      this.setAction(element);
    },
    onCalculate(): void {
      if (this.value !== '0') {
        const element = { value: Number(this.value), action: '+' };
        this.setAction(element);
      }
      this.value = '';
      this.calculate();
    },
    onClear(): void {
      this.value = '';
      this.clear();
    },
  },
});
</script>

<style src='./Keyboard.scss' lang='scss'>
</style>
