<template>
  <div class="display">
    <div class="calculation" >
      <p>{{ getEquation }}</p>
    </div>
    <div class="result" v-show="getResult">
      <p>= {{ getResult }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';

export default Vue.extend({
  name: 'Display',
  computed: {
    ...mapGetters('calc', ['getEquation', 'getResult']),
  },
});
</script>

<style src='./Display.scss' lang='scss'></style>
