.display {
    position: relative;
    height: 120px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background-image: linear-gradient(to right top, #e04693, #fd5477, #ff705a, #ff923e, #f8b529);
    border-radius: 4px 4px 0 0;
  }
  
  p {
    margin: 2px;
    font-size: 25px;
    color: white;
  }
  
  .calculation{
    display: flex;
    flex-direction: row;
    color: black;
  }
  
  .result{
    color: red;
  }